<div class="container">
    <h1 class="mt-5 mb-6 text-center">Cadastro de espaço</h1>
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()" >
    
      <div class="row mt-8" >
        <div class="col-md-8">
          <label for="cd-nome">NOME <span style="color: red;">*</span></label>
          <input class="form-control" id="cd-nome"  formControlName="nome" placeholder="Quadra de futsal...">            
        </div>
        <div class="col-md-4">
          <label for="cd-qtdMax">QUANTIDADE MÁXIMA DE PESSOAS<span style="color: red;">*</span></label>
          <input class="form-control" type="number" id="cd-qtdMax" formControlName="qtdMax" placeholder="20">
            
        </div>
        
      </div>
    
      <div class="row mt-5" >
        <div class="col-md-12">
          <label for="cd-descricao">DESCRIÇÃO <span style="color: red;">*</span></label>
          <textarea style=" resize: none; height: 100px;" class="form-control" id="cd-descricao"  formControlName="descricao" placeholder="Quadra coberta destinada ao futsal"></textarea>
            
        </div>  
       
      </div>
    
      <div class="row mt-5" >
        <div class="col-md-4">
          <label for="cd-valor">VALOR <span style="color: red;">*</span></label>
          <input   class="form-control"  id="cd-valor" formControlName="valor" placeholder="R$ 120,00">
            
        </div>  
      </div>
      <span style="color: red;">*</span> itens obrigatórios
     
    <div class="btns">
    
      <button (click)="cancelar()"  class="btn btn-lg btn-primary text-right mt-5 ">Cancelar</button>
      <button  type="submit" class="btn btn-lg btn-success text-right mt-5 ">Cadastrar</button>
      
    </div>  
    </form>
    </div>