form.ng-submitted.ng-invalid input.ng-invalid{
    border: 1px solid red;
  }
  form.ng-submitted.ng-invalid select.ng-invalid{
    border: 1px solid red;
  }
  form.ng-submitted.ng-invalid textarea.ng-invalid{
    border: 1px solid red;
  }
