<div class="container">
    <h1 class="mt-5 mb-6 text-center">Cadastro Básico da Quadra de Esportes</h1>
    <form [formGroup]="formulario" (ngSubmit)="salvar()" >

      <div class="row mt-5" >
        <div class="col-md-4">
          <input class="form-control" id="cd-id"  formControlName="id"  value="{{quadra.id}}" style="visibility: hidden;">
            
        </div>  
      </div>
    
      <div class="row mt-5" >
        <div class="col-md-8">
          <label for="cd-nome">NOME <span style="color: red;">*</span></label>
          <input  class="form-control" id="cd-nome"  formControlName="nome" value="{{quadra.nome}}">
            
        </div>
        <div class="col-md-4">
          <label for="cd-cnpj">CNPJ <span style="color: red;">*</span></label>
          <input class="form-control" id="cd-cnpj"  formControlName="cnpj"  value="{{quadra.cnpj}}">
            
        </div>  
      </div>
    
      <div class="row mt-5" >
        <div class="col-md-8">
          <label for="cd-cep">CEP <span style="color: red;">*</span></label>
          <input class="form-control" id="cd-cep" formControlName="cep"  value="{{quadra.cep}}">
            
        </div>
        <div class="col-md-4">
          <label for="cd-ruaEnd">Rua <span style="color: red;">*</span></label>
          <input class="form-control"  id="cd-ruaEnd" formControlName="ruaEnd" value="{{quadra.ruaEnd}}">
            
        </div>  
      </div>
    
      <div class="row mt-5" >
        <div class="col-md-6">
          <label for="cd-bairroEnd">Bairro <span style="color: red;">*</span></label>
          <input class="form-control" id="cd-bairroEnd" formControlName="bairroEnd" value="{{quadra.bairroEnd}}">
          
        </div>
        <div class="col-md-6">
          <label for="cd-nroEnd">Nº <span style="color: red;">*</span></label>
          <input class="form-control" id="cd-nroEnd"  formControlName="nroEnd" value="{{quadra.nroEnd}}">
           
        </div>  
      </div>

    
      <span style="color: red;">*</span> itens obrigatórios
    
    <div class="btns">
    
   
        <button [ngStyle]="{'display': display_c}"  type="button" (click)="cancelar();"  class="btn btn-lg btn-primary text-right mt-5 rounded-0">Cancelar</button>
        <button  [ngStyle]="{'display': display_c}" type="submit" class="btn btn-lg btn-success text-right mt-5 rounded-0" >Salvar</button>
     

      <button [ngStyle]="{'display': display_a}" type="button" (click)="alterar()"  class="btn btn-lg btn-warning text-right mt-5 rounded-0" >Alterar</button>
      
    </div>  
    </form>
    </div>