<div class="container mt-5">

    <h1>Minhas reservas</h1>
    <ng-template  ngFor [ngForOf]="reservas" let-reserva let-i="index">
        
        <accordion [isAnimated]="true">
            <accordion-group [heading]=" reserva.espaco.nome  +' - '+reserva.data" style="text-decoration: none;">              
              <p>Horário: {{ reserva.hora }}</p>
              <p>Cliente: {{ reserva.usuario.nome  }}</p>
              
              <button class="btn btn-sm btn-warning text-right mt-2" (click)="editar(reserva)">Editar</button>
            </accordion-group>
            </accordion>
      </ng-template >
      <div>
        <button  type="button" class="btn btn-lg btn-success text-right mt-5 " (click)="novaReserva()">Nova reserva</button>
     

      </div>
</div>