 <div *ngIf="mostrarMenu"> 

    <div  id="mobile-nav" onclick="  $('nav').toggleClass('active');">
      <p><i class="fas fa-bars"></i></p> 
    </div>y
  
     <div class="nav-top" style="cursor:pointer ;" > 
      <p>
        <span *ngIf="usuarioLogado.tipo=='A' || usuarioLogado.tipo=='F'" title="Usuário Funcionário"><i class="fa fa-cogs" aria-hidden="true" style="margin-right: 7px;"></i></span>
        <span style="font-size:20px ;padding-right: 25px;">{{usuarioLogado.nome}}</span>
        <i class="fas fa-sign-out-alt fa-2x" (click)="logout()"></i>
      </p>

      

    </div>
      <nav>
        <ul class="menu">
         
          <!-- <li>
            <a routerLink="" onclick="  $('nav').removeClass('active');">
              <i class="fas fa-home fa-lg p-25"></i>Página Inicial
            </a>
          </li> -->
          <!-- <div *ngIf="tipoUsuario=='[U]'">  -->
            <div> 
    
              <!-- Cliente -->
              <div *ngIf="usuarioLogado.tipo=='C'">
                <li>
                  <a routerLink="cliente/reservas" onclick="  $('nav').removeClass('active');">
                    <i class="far fa-calendar-check fa-lg p-25"></i> <span>Reservas</span></a>
                </li>
              </div>
              
              <!-- ADM e Funcionário -->
              <div *ngIf="usuarioLogado.tipo=='A' || usuarioLogado.tipo=='F'">
                <li>
                  <a routerLink="funcionario/reservas" onclick="  $('nav').removeClass('active');">
                    <i class="far fa-calendar-check fa-lg p-25"></i> <span>Reservas</span></a>
                </li>

                <li>
                  <a routerLink="funcionario/espacos" onclick="  $('nav').removeClass('active');">
                    <i class="fa fa-cubes fa-lg p-25" aria-hidden="true"></i><span>Espaços</span></a>
                </li>
                
              </div>

              <!-- Somente ADM -->
              <div *ngIf="usuarioLogado.tipo=='A'">
                <li>
                  <a routerLink="funcionario/quadra" onclick="  $('nav').removeClass('active');">
                    <i class="fa fa-cube fa-lg p-25" aria-hidden="true"></i><span>Quadra</span></a>
                </li>
              </div>

              <div *ngIf="usuarioLogado.tipo=='A'">
                <li>
                  <a routerLink="funcionario/funcionarios" onclick="  $('nav').removeClass('active');">
                    <i class="fa fa-id-card fa-lg p-25" aria-hidden="true"></i><span>Funcionários</span></a>
                </li>
              </div>
             
             
              
           <!-- <li>
            <a routerLink="clientes/quadras" onclick="  $('nav').removeClass('active');">
              <i class="fas fa-map-marker-alt  fa-lg p-25"></i> <span>Quadras</span></a>
          </li> -->
          
        </div>
        <div>
           <!-- <li *ngIf="tipoUsuario=='[A]'">  -->
           <!-- <li >   
          
            <a routerLink="quadras" onclick="  $('nav').removeClass('active');">
              <i class="fas fa-clipboard-list fa-lg p-25"></i> <span>Reservas</span></a>
          </li>         -->
       
        </div>
        <li>  
          
          <a onclick=" $('nav').removeClass('active');"  (click)="getUsuario()" style="cursor: pointer ;">
            <i class="fas fa-cog fa-lg p-25"></i><span>Minha conta </span></a>
        </li>
        </ul>
      </nav>
     </div>
   