@import '~normalize.css';

:root{
    
    --primaria: #227b38;
    --ver: #227b38;
    
    --bra: #fefaef;
    --lar : #fa8334;
}

.btn-success{
    background-color: var(--ver);
}


.btns{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.btns button{
    width: 220px;
    
}


